<h1 mat-dialog-title>New Subscription</h1>
<form  [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div style="width:700px">
    </div>

    <br>

    <div>
      <mat-form-field appearance="fill" style="width:35%;margin-left:10px">
        <mat-label>Type</mat-label>
        <input matInput  formControlName="type" required>              
      </mat-form-field>

      <mat-form-field appearance="fill" style="width:35%; margin-left:50px" >
        <mat-label>Amount</mat-label>
        <input matInput  formControlName="amount" required>               
      </mat-form-field>
    </div>

    <br>


  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-actions>
    <button type="submit" [disabled]="subscriptionForm.invalid" mat-flat-button color="primary"  style="margin-left:20px;">
      <mat-icon>done_all</mat-icon>
      SAVE
    </button>
    <button mat-flat-button mat-dialog-close color="warn" style="margin-left:10px;background-color:red;color:white">
      <mat-icon>clear</mat-icon>
      CANCEL
    </button>
  </div>

</form>