<mat-grid-list cols="6" rowHeight="100px">

    <mat-grid-tile colspan="4" rowspan="1" >

        <mat-card class="mini-card" style="background-color: lightskyblue;">   
            <mat-card-content>
              <div style="display: flex; justify-content: flex-start; align-items: left;">
                  <div style="width: 90%"><h2>Customers</h2></div>
                  <div style="width: 10%"><mat-icon aria-hidden="false" style="color:#36f" fontIcon="person"></mat-icon></div>
              </div>
              <div>
                  <h1>5236 new</h1>
              </div>              
            </mat-card-content>
          </mat-card>

          <mat-card class="mini-card" style="background-color:lightseagreen">   
            <mat-card-content>
              <div style="display: flex; justify-content: flex-start; align-items: left;">
                  <div style="width: 90%"><h2>Stocks</h2></div>
                  <div style="width: 10%"><mat-icon aria-hidden="false" style="color:lightgreen" fontIcon="insights"></mat-icon></div>
              </div>
              <div>
                  <h1>232</h1>
              </div>              
            </mat-card-content>
          </mat-card>

          <mat-card class="mini-card" style="background-color:lightcoral;">   
            <mat-card-content>
              <div style="display: flex; justify-content: flex-start; align-items: left;">
                  <div style="width: 90%"><h2>Trades</h2></div>
                  <div style="width: 10%"><mat-icon aria-hidden="false" style="color:lightgoldenrodyellow" fontIcon="currency_exchange"></mat-icon></div>
              </div>
              <div>
                  <h1>£5236</h1>
              </div>              
            </mat-card-content>
          </mat-card>

          <mat-card class="mini-card" style="background-color:orange">   
            <mat-card-content>
              <div style="display: flex; justify-content: flex-start; align-items: left;">
                  <div style="width: 90%"><h2>Subscriptions</h2></div>
                  <div style="width: 10%"><mat-icon aria-hidden="false" style="color:lightgoldenrodyellow" fontIcon="subscriptions"></mat-icon></div>
              </div>
              <div>
                  <h1>40 new</h1>
              </div>              
            </mat-card-content>
          </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="6">
        <mat-list style="margin-top:-120px;margin-left:-200px">
            <div mat-subheader>New stocks</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let stockData of stocksData">
               <img matListItemIcon [src]="getStockImageURL(stockData.stockSymbol)" alt="Stock Image">
              <div matListItemTitle>{{stockData.stockSymbol}}</div>
              <div matListItemLine>{{stockData.companyName}}</div>
            </mat-list-item>
        </mat-list>

    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="5">
        <mat-card class="app-users-card">
            <mat-card-header>
              <mat-card-title>Shares Overview</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <app-shareprice-overview-chart> </app-shareprice-overview-chart>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="5">
        <mat-card class="app-users-card">
            <mat-card-header>
              <mat-card-title>Mobile Platform Overview</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <app-customers-overview-chart> </app-customers-overview-chart>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

  </mat-grid-list>