<div>
  <mat-card class="dashboard-card" style="margin-left:20px;margin-right:20px;">

    <mat-card-header style="background-color:#36f;height:50px; padding: 8px 16px;">
      <mat-card-title style="color:white; margin-bottom:15px;">Stock Listings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>

      <div style="display: flex;">
        <div style="flex: 1;">
          <mat-form-field style="width:500px">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search by name, symbol, type or status" #input>
          </mat-form-field>
        </div>
        <div style="flex: 1; margin-left:50%">
          <button mat-fab extended  style="background-color:#F5F5F5;color:#36f" (click)="openStockAddDialog()">
            <mat-icon>add</mat-icon>
            New
          </button>
        </div>
      </div>

      <div class="mat-elevation-z2" style="height:400px;overflow-y: auto;">
        <table mat-table [dataSource]="dataSource" matSort >

            <!-- Stock Image -->
          <ng-container matColumnDef="stockImage">
              <th mat-header-cell *matHeaderCellDef>STOCK ICON</th>
              <td mat-cell *matCellDef="let row" style="padding-top: 10px;">  
                <div mat-card-avatar class="stock-image" [style.background-image]="'url(https://do1r04b5laugk.cloudfront.net/' + row.stockSymbol + '.png)'" ></div> 
              </td>
          </ng-container>
        
          <!-- Stock Symbol -->
          <ng-container matColumnDef="stockSymbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SYMBOL</th>
            <td mat-cell *matCellDef="let row">  {{row.stockSymbol}} </td>
          </ng-container>

          <!-- Company Name -->
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPANY NAME</th>
            <td mat-cell *matCellDef="let row">  {{row.companyName}} </td>
          </ng-container>

          <!-- Exchange -->
          <ng-container matColumnDef="exchange">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EXCHANGE</th>
            <td mat-cell *matCellDef="let row">  {{row.exchangeCode}} </td>
          </ng-container>

          <!-- Current Price -->
          <ng-container matColumnDef="currentPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SHARE PRICE</th>
            <td mat-cell *matCellDef="let row">  {{row.sharePrice | number: '1.2-2'}} </td>
          </ng-container>

          <!-- Type Symbol -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SECTOR</th>
            <td mat-cell *matCellDef="let row">  {{row.sectorName}} </td>
          </ng-container>

          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
            <td mat-cell *matCellDef="let row"> <p-tag  [severity]="row.status === 'New' ? 'primary' : 'success'" value="{{row.status}}"></p-tag>  </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
            <td mat-cell *matCellDef="let row">
              <div class="text-center">
                <button mat-icon-button (click)="openStockEditDialog(row)">
                  <mat-icon fontIcon="edit_note"></mat-icon>
                </button>
                <button mat-icon-button (click)="openStockDeleteDialog(row)">
                  <mat-icon fontIcon="delete"></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              <div>                          
                <h4 style="font-weight: 800;margin-top: 10%; margin-left: 60%;color: red;">No data matching the filter.</h4>
              </div>
            </td>
          </tr>
        </table>        
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of files"></mat-paginator>

    </mat-card-content>

  </mat-card>
</div>

