<div>
    <mat-card class="dashboard-card" style="margin-left:20px;margin-right:20px;">
  
      <mat-card-header style="background-color:#36f;height:50px; padding: 8px 16px;">
        <mat-card-title style="color:white; margin-bottom:15px;">Currencies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
  
        <div style="display: flex;">
          <div style="flex: 1;">
            <mat-form-field style="width:500px">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search by symbol, code or country" #input>
            </mat-form-field>
          </div>
          <div style="flex: 1; margin-left:50%">
            <button mat-fab extended  style="background-color:#F5F5F5;color:#36f" (click)="openCurrencyAddDialog()">
              <mat-icon>add</mat-icon>
              New
            </button>
          </div>
        </div>
  
        <div class="mat-elevation-z2" style="height:400px;overflow-y: auto;">
          <table mat-table [dataSource]="dataSource" matSort>
          
            <!-- Symbol -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>SYMBOL</th>
              <td mat-cell *matCellDef="let row">  {{row.symbol}} </td>
            </ng-container>
  
            <!-- Code -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CODE</th>
              <td mat-cell *matCellDef="let row">  {{row.code}} </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
                <td mat-cell *matCellDef="let row">  {{row.name}} </td>
            </ng-container>
  
            <!-- Country -->
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>COUNTRY</th>
              <td mat-cell *matCellDef="let row">  {{row.country}} </td>
            </ng-container>
  
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
              <td mat-cell *matCellDef="let row">
                <div class="text-center">
                  <button mat-icon-button (click)="openCurrencyEditDialog(row)">
                    <mat-icon fontIcon="edit_note"></mat-icon>
                  </button>
                  <button mat-icon-button (click)="openCurrencyDeleteDialog(row)">
                    <mat-icon fontIcon="delete"></mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                    <div>                          
                            <h4 style="font-weight: 800;margin-top: 10%; margin-left: 40%;color: red;">No data matching the filter.</h4>
                    </div>
              </td>
            </tr>
          </table>        
        </div>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of files"></mat-paginator>
  
      </mat-card-content>
  
    </mat-card>
  </div>
  
  