<h1 mat-dialog-title>New Stock</h1>

  <div mat-dialog-content>

    <form  [formGroup]="stockForm" (ngSubmit)="onSubmit()">
      <div style="width:900px">

      </div>

      <br>

      <div>
        <mat-form-field appearance="fill" style="width:30%;margin-left:10px">
          <mat-label>Stock Symbol</mat-label>
          <input matInput  required formControlName="stockSymbol">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:30%; margin-left:30px" >
          <mat-label>Company Name</mat-label>
          <input matInput  formControlName="companyName" required>
          <input matInput  formControlName="id" hidden>
        </mat-form-field>
      </div>

      <br>

      <div>
        <mat-form-field style="width:30%;margin-left:10px" >
          <mat-label>Stock Exchange</mat-label>
          <mat-select formControlName="exchangeCode" required>
            <mat-option *ngFor="let exchangeType of exchangeTypes" [value]="exchangeType.code">
              {{exchangeType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:30%; margin-left:30px">
          <mat-label>Sector</mat-label>
          <mat-select formControlName="sectorName" required>
            <mat-option *ngFor="let sectorType of sectorTypes" [value]="sectorType.name">
              {{sectorType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:30%;margin-left:10px" >
          <mat-label>Currency</mat-label>
          <mat-select formControlName="currencySymbol" required>
            <mat-option *ngFor="let currencyType of currencyTypes" [value]="currencyType.code">
              {{currencyType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>  

      </div>

      <br>

      <div>
      
      </div>
      <br>

    </form>
    </div>


  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button type="submit" [disabled]="stockForm.invalid" (click)="onSubmit()" mat-flat-button 
                [ngStyle]="{'background-color': stockForm.invalid ? '' : '#36f', 'color': stockForm.invalid ? '' : 'white'}"
                style="margin-left:20px;">
      <mat-icon>done_all</mat-icon>
        SAVE
    </button>
    <button mat-flat-button mat-dialog-close color="warn" style="margin-left:10px;background-color:red;color:white">
      <mat-icon>clear</mat-icon>
      CANCEL
    </button>
  </div>
