<h1 mat-dialog-title>New Stock</h1>
<form  [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div style="width:700px">
    </div>

    <br>

    <div>
      <mat-form-field appearance="fill" style="width:35%;margin-left:10px">
        <mat-label>Symbol</mat-label>
        <input matInput  formControlName="symbol" required>
        <mat-error *ngIf="currencyForm.get('symbol')!.hasError('pattern')">Invalid symbol.</mat-error>        
      </mat-form-field>

      <mat-form-field appearance="fill" style="width:35%; margin-left:50px" >
        <mat-label>Code</mat-label>
        <input matInput  formControlName="code" required>  
        <mat-error *ngIf="currencyForm.get('code')!.hasError('pattern')">Invalid code.</mat-error>          
      </mat-form-field>
    </div>

    <br>

    <div>
      <mat-form-field appearance="fill" style="width:35%;margin-left:10px" >
        <mat-label>Name</mat-label>
        <input matInput  formControlName="name" required>        
      </mat-form-field>

      <mat-form-field appearance="fill" style="width:35%;margin-left:50px" >
        <mat-label>Country</mat-label>
        <input matInput  formControlName="country" required>   
      </mat-form-field>
    </div>

    <br>

  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-actions>
    <button type="submit" [disabled]="currencyForm.invalid" mat-flat-button color="primary"  style="margin-left:20px;background-color:#36f; color:white">
      <mat-icon>done_all</mat-icon>
      SAVE
    </button>
    <button mat-flat-button mat-dialog-close color="warn" style="margin-left:10px;background-color:red;color:white">
      <mat-icon>clear</mat-icon>
      CANCEL
    </button>
  </div>

</form>